* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: #FDE3A7;
  transition-duration: 0.5s;
}

#container { }

.game-narrative {
  margin: 0 auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  flex-direction: column;
  text-align: center;
}

.game-narrative-text {
  font-family: 'Share Tech', sans-serif;
  font-size: 2em;
  margin: 10px;
}

.game-btn {
  font-family: 'Share Tech', sans-serif;
  font-size: 20px;
  margin: 20px;
  border-radius: 8px;
  color: #fff;
  background-color: #d35400;
  padding: 10px 20px;
  border: solid #F89406 2px;
  text-decoration: none;
  cursor: pointer;
}

.game-btn:hover {
  background-color: #e67e22;
}

#narrative-three-btns {
  display: flex;
  flex-flow: row;
  gap: 20px;
}

.dramatic-text {
  font-family: 'Trade Winds', cursive;
  font-size: 3em;
}

.computer-threat {
  font-family: 'Trade Winds', cursive;
  font-size: 1.5em;
  margin-top: 20px;
  color: #c0392b;
}

#header { text-align: center; margin: 30px 0; color: #c0392b; display: none; }

#game-configuration {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  display: none;
}

#identity-selection, #difficulty-selection {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cell {
  font-family: 'Gloria Hallelujah', cursive;
  color: #fff;
  background-color: #121a21;
  text-align: center;
  width: 100px;
  height: 100px;
  font-size: 3em;
  border-radius: 10px;
  box-shadow: 6px 6px 0px #090d10;
  transition-duration: 0.5s;
  cursor: pointer;
}

.cell:hover { color: #e74c3c; background-color: #34495e; }

.cell-selected { color: #c0392b; transform: translate(3px,3px); box-shadow: 3px 3px 0px #000; background-color: #121a21; }
.cell-win { color: #e74c3c; background-color: #34495e; transform: scale(1.05); }

#game-grid { display: none; flex-direction: column; align-items: center; gap: 5px; }
.row { display: flex; flex-direction: row; gap: 5px; }

#game-over { display: none; color: #fff; font-family: 'Share Tech', sans-serif; justify-content: center; align-items: center; flex-direction: column; text-align: center; position: fixed; top:0; left:0; right:0; bottom:0; padding: 20px; max-width: 700px; margin: 0 auto; }
